<div class="dashboard-container">
  <!-- Animated Background -->
  <div class="area">
    <ul class="circles">
      <li></li><li></li><li></li><li></li><li></li>
      <li></li><li></li><li></li><li></li><li></li>
    </ul>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand animate__animated animate__fadeIn">
        <div class="brand-content">
          <img src="assets/vroom-logo.jpg" alt="Vroom Cars" class="brand-logo">
          <span class="brand-text">
            <span class="brand-name">Vroom</span>
            <span class="brand-subtitle">Cars</span>
          </span>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <ng-container *ngIf="userRole === 'ADMINISTRATOR'">
            <li class="nav-item">
              <a class="nav-link custom-btn me-2 animate__animated animate__fadeIn" [routerLink]="['/category']">
                <i class="fas fa-plus-circle"></i> Add Car Category
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="userRole === 'AGENT'">
            <li class="nav-item">
              <a class="nav-link custom-btn me-2 animate__animated animate__fadeIn" [routerLink]="['/add-car']">
                <i class="fas fa-car"></i> Cars
              </a>
            </li>
          </ng-container>

          <li class="nav-item">
            <button class="btn btn-logout animate__animated animate__fadeIn" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="dashboard-content">
    <div class="role-badge animate__animated animate__fadeInDown">
      <i [class]="getRoleIcon()"></i> {{ userRole }}
    </div>

    <div class="row">
      <!-- Administrator View -->
      <ng-container *ngIf="userRole === 'ADMINISTRATOR'">
        <div class="col-md-10 offset-md-1 mb-4 animate__animated animate__fadeInUp">
          <app-booking-report></app-booking-report>
        </div>

        <div class="col-md-10 offset-md-1 animate__animated animate__fadeInUp">
          <app-payment-report></app-payment-report>
        </div>
      </ng-container>

      <!-- Agent View -->
      <ng-container *ngIf="userRole === 'AGENT'">
        <div class="col-md-10 offset-md-1 animate__animated animate__fadeInUp">
          <app-get-bookings></app-get-bookings>
        </div>
      </ng-container>

      <!-- Customer View -->
      <ng-container *ngIf="userRole === 'CUSTOMER'">
        <div class="col-md-10 offset-md-1 animate__animated animate__fadeInUp">
          <app-cars></app-cars>
        </div>
      </ng-container>
    </div>
  </div>
</div>
